%h2 
  Edit Quiz

%form{action: "/quizzes/#{@quiz.id}/edit", method: "POST", :"accept-charset" => "utf-8", enctype: "multipart/form-data"}
  %label Title
  %input{type: "text", "..." => "", name: "title", value: "#{@quiz.title}"}
  - @questions.each do |question|
    - q_num = 0
    .question
      %label Question
      %input{type: "text", "..." => "", name: "[question][#{question.keys.first.id}][question_text]", value: "#{question.keys.first.question_text}", class: "question_input"}
      %input{type: "file", name: "[question][#{question.keys.first.id}]file", value: "", id: "file"}
      .answer
        - answers = question.values.flatten!
        - answers.each do |answer|
          %label Answers
          %input{type: "text", "..." => "", name: "[question][#{question.keys.first.id}][answer][#{answer.id}][response]", value: "#{answer.response}", class: "answer_input"}
          %input{type: "file", name: "[question][#{question.keys.first.id}][answer][#{answer.id}]file", value: ""}
  %input{type: "submit", value: "Submit"}
